.pL50 {
    padding-left: 50px;
}
.pR50 {
    padding-right: 50px;
}
.pL150per {
    padding-left: 15%;
}
.pT20 {
    padding-top: 20px;
}
.pT40 {
    padding-top: 40px;
}
.mT20 {
    margin-top: 20px;
}
.mT40 {
    margin-top: 40px;
}
.welcome {
    padding-top: 70px;
    font-weight: 800;
    color: #ff6c6d;
}
.vision {
    padding-top:50px;
}
.fz40 {
    font-size: 40px;
}
.fz20 {
    font-size: 20px;
}
.mainContent {
    animation: fadeInUp 1s ease-out;
    width: 80%;
    margin: 0 auto;
    display: inline-flex;
}
@keyframes fadeInUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
.fw800 {
    font-weight: 800;
}
.mLR10Per {
    margin-left: 10%;
    margin-right: 10%;
}
.section {
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    box-shadow: -15px -13px 14px 0px rgba(0, 0, 0, 0.1)
}

.section ul {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}
.section ul li span {
    color: coral;
}
.section.card-container {
    width: 100%;
}
.card-container {
    display: flex;
    overflow-x: auto;
    padding: 1rem;
}
.card {
    min-width: 300px;
    margin-right: 1rem;
}
.whychooseus {
    margin-top: 10%;
}
.whychooseus .head {
    justify-content: center;
    display: flex;
}
.mL10Per {
    margin-left: 10%;
}