.hide {
    display: none !important;
}
.removeBrowserDefaultOutline:focus {
    outline: none;
    box-shadow: none;
}
.getintouch:hover {
    border: 1px solid black;
    border-radius: 5px;
}
.navbar-nav .nav-item {
    margin-left: 20px;
}
.navbar-nav .nav-link:hover {
    color: coral;
}
.navbar-brand img {
    width: 150px;
}
nav {
    /* background-color: #f8f9fa; */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.pL50 {
    padding-left: 50px;
}
.pR50 {
    padding-right: 50px;
}
.pL150per {
    padding-left: 15%;
}
.pT20 {
    padding-top: 20px;
}
.pT40 {
    padding-top: 40px;
}
.mT20 {
    margin-top: 20px;
}
.mT40 {
    margin-top: 40px;
}
.welcome {
    padding-top: 150px;
    font-weight: 800;
    color: coral;
}
.vision {
    padding-top:50px;
}
.fz40 {
    font-size: 40px;
}
.fz20 {
    font-size: 20px;
}
.mainContent {
    animation: fadeInUp 1s ease-out;
    max-width: 1200px;
}
@keyframes fadeInUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
.fw800 {
    font-weight: 800;
}
.ourservices {
    scroll-margin-top: 200px;
}
.section {
    margin-right: 150px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.section .fw800 {
    font-weight: 800;
}

.section ul {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

.section ul li .fw800 {
    font-weight: 800;
}

.section ul li span {
    color: coral;
}
/* Footer Styles */
.footer {
    padding: 20px 0;
    text-align: center;
    letter-spacing: 50px;
}
.connectwithus {
    letter-spacing: normal !important;
    margin-left: -30px;
}