* {
    font-family: proxima-nova, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background: antiquewhite; */
    background: #edc9bc;
    scroll-behavior: smooth;
}
/* Footer Styles */
.footer {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    letter-spacing: 50px;
    height: 100px;
}
.hide {
    display: none !important;
}
.removeBrowserDefaultOutline:focus {
    outline: none;
    box-shadow: none;
}
.navbar-nav .nav-item {
    margin-left: 20px;
}
.navbar-nav .nav-link:hover {
    color: coral !important;
}
.navbar-nav .nav-link {
    color: #333 !important;
}
.navbar-brand img {
    width: 150px;
}
nav {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.nav-link.active {
    color: coral !important;
}
.connectwithus {
    letter-spacing: normal !important;
    margin-left: -30px;
}